{% extends "site/base.html" %}
{% load i18n %}

{% block branding %}
    <h1 id="site-name">
        {% url 'home' as home_url %}
        <a href="{% firstof site_url home_url %}">
            {{ site_header|default:_('Templater administration') }}
        </a>
    </h1>
{% endblock %}

{% block userlinks %}
    <a href="{{ my_page_url }}">{% trans 'My templates' %}</a> /
    <a href="{% url 'template_create' %}">{% trans 'Upload' %}</a> /
    <a href="{% url 'logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block userlinks-anonymous %}
    <a href="{% url 'template_create' %}">{% trans 'Share' %}</a> /
    <a href="{% url 'signup' %}">{% trans 'Registration' %}</a>
{% endblock %}


{% block content %}

    <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

    <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

{% endblock %}
