{% extends "site/base.html" %}
{% load i18n static %}

{% block branding %}
    <h1 id="site-name">
        {% url 'home' as home_url %}
        <a href="{% firstof site_url home_url %}">
            {{ site_header|default:_('Templater administration') }}
        </a>
    </h1>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block userlinks %}
    <a href="{{ my_page_url }}">{% trans 'My templates' %}</a> /
    <a href="{% url 'template_create' %}">{% trans 'Upload' %}</a> /
    <a href="{% url 'logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block userlinks-anonymous %}
    <a href="{% url 'template_create' %}">{% trans 'Share' %}</a> /
    <a href="{% url 'signup' %}">{% trans 'Registration' %}</a>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} change-form{% endblock %}

{% block content %}

    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

    <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email">
                {{ form.email.errors }}
                <label for="id_email">{% trans 'Email address:' %}</label>
                {{ form.email }}
            </div>
            <div class="submit-row">
                <input type="submit" value="{% trans 'Reset my password' %}">
            </div>

        </fieldset>
    </form>

{% endblock %}
